 /* @tailwind base;
@tailwind components;
@tailwind utilities;  */

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */


body{
    padding: 20px;
} 
button{
    padding: 15px 30px;
    background-color: lightseagreen;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    font-weight: 600px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(9, 128, 122);
    border-radius: 15px;
}





































